.main-page-background {
    background: url("../../Images/backgroundreactmeals.png") center/cover fixed;
    min-height: 100vh;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}
